* {
  box-sizing: border-box;
}
.main-container {
padding: 2em;

  &.loading {
    * {
      display: none;
    }
  }
}

  .main-header {
    margin: -2em;
    background-color: blue;
    padding: 1em;

    h1 {
      color: white;
      margin: 0;
    }
  }

  .main-nav {
    margin-top: 2em;
    margin-bottom: 1em;
    margin-left: -2em;
    margin-right: -2em;
  }
    .nav-button {
      display: inline-block;
      width:33%;
      padding: 0.5em;
      background-color: aliceblue;

      transition: background-color 500ms ease;

      &.active {
        background-color: #b4daff;
      }
    }

  .form-section {

  }
    .form-row {
      width: 100%;
      margin-bottom: 1em;
    }

      .form-label, .form-input {
        display: block;
        width: 100%;
      }
      .form-label {
        font-size: 0.8em;
        text-transform: uppercase;
        color: #333;
        margin-bottom: 0.3em;
      }
      .form-input {
        padding: 0.2em;
        -webkit-border-radius: 0.2em;
        -moz-border-radius: 0.2em;
        border-radius: 0.2em;
        border: 1px solid #ccc;
        outline: none;
      }

      button {
        background: #ccc;
        border: none;
        outline: none;
        padding: 0.5em 1em;
        -webkit-border-radius: 0.2em;
        -moz-border-radius: 0.2em;
        border-radius: 0.2em;
      }

// Angular form stuff

.tried .form-input.ng-invalid {
  background-color: rgba(255, 0, 0, 0.29);
}

