<!doctype html>
<html ng-app="mubaloo">
  <head>
    <meta charset="utf-8">
    <title>mubaloo</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <!-- build:css({.tmp/serve,src}) styles/vendor.css -->
    <link rel="stylesheet" href="app/vendor.css">
    <!-- bower:css -->
    <!-- run `gulp inject` to automatically populate bower styles dependencies -->
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:css({.tmp/serve,src}) styles/app.css -->
    <!-- inject:css -->
    <!-- css files will be automatically insert here -->
    <!-- endinject -->
    <!-- endbuild -->
  </head>
  <body>

  <div id="mainContainer" class="main-container loading" ng-controller="MainCtrl as ctrl">

    <header id="mainHeader" class="main-header">
      <h1>Mubaloo Technical Test</h1>
    </header>

    <nav id="mainNav" class="main-nav">
      <a class="nav-button" id="navButton-1" ng-class="{active:ctrl.currentStep == 1}">Step 1</a><a class="nav-button" id="navButton-2" ng-class="{active:ctrl.currentStep == 2}">Step 2</a><a class="nav-button" id="navButton-3" ng-class="{active:ctrl.currentStep == 3}">Step 3</a>
    </nav>

    <section class="form-section" id="stage-1" ng-show="ctrl.currentStep == 1">
      <form ng-model="form1" novalidate ng-class="{'tried' : ctrl.tried}">
        <div class="form-row">
          <label class="form-label" for="inputTitle">Your title</label>
          <select class="form-input" name="title" id="inputTitle" ng-model="title" required>
            <option value="" selected="selected">Choose...</option>
            <option value="Mr">Mr</option>
            <option value="Mrs">Mrs</option>
            <option value="Mstr">Master</option>
            <option value="Miss">Miss</option>
            <option value="Other">Other</option>
          </select>
        </div>
        <div class="form-row" ng-show="title == 'Other'">
          <label class="form-label" for="inputOtherTitle">Enter your title here</label>
          <input class="form-input" type="text" name="otherTitle" id="inputOtherTitle" ng-model="otherTitle" placeholder="Reverend, Duke etc."/>
        </div>
        <div class="form-row">
          <label class="form-label" for="inputName">Your name</label>
          <input type="text" class="form-input" name="name" id="inputName" ng-model="name" placeholder="Joe Bloggs" required/>
        </div>
        <div class="form-row">
          <label class="form-label" for="inputDate" required>Your date of birth</label>
          <input class="form-input" type="date" name="dob" id="inputDate" ng-model="dob"/>
        </div>
        <div class="form-row">
          <button class="next-button" ng-click="ctrl.stepSet(2);">Next &raquo;</button>
        </div>
      </form>
    </section>

    <section class="form-section" id="stage-2" ng-show="ctrl.currentStep == 2">
      <form ng-model="form2" novalidate ng-class="{'tried' : ctrl.tried}">
        <div class="form-row">
          <label for="inputLocation">Your current location</label>
          <input class="form-input" type="text" name="location" id="inputLocation" ng-model="location" placeholder="e.g. Bristol" required/>
        </div>
        <div class="form-row">
          <label for="inputDatetime">The date and time</label>
          <input type="datetime-local" class="form-input" id="inputDatetime" ng-model="datetime" required/>
        </div>
        <div class="form-row">
          <button class="next-button" ng-click="ctrl.stepSet(1);">&laquo; Last</button>
          <button class="next-button" ng-click="ctrl.stepSet(3);">Next &raquo;</button>
        </div>
      </form>
    </section>

    <section class="form-section" id="stage-3" ng-show="ctrl.currentStep == 3">
      <form ng-model="form3" novalidate ng-class="{'tried' : ctrl.tried}">
        <div class="form-row">
          <label for="feedback">Any feedback you would like to give</label>
          <textarea name="feedback" id="feedback" cols="30" rows="10" class="form-input" ng-model="feedback" placeholder="What did you like/not like about the survey?"></textarea>
        </div>
        <div class="form-row">
          <button ng-click="ctrl.stepSet(2);">&laquo; Back</button>
          <button id="submitButton" ng-click="ctrl.submit();">Send</button>
        </div>
      </form>
    </section>

    <section class="form-section" id="stage-4" ng-show="ctrl.currentStep == 4">
      <div class="form-row">
        <h2>Thank you</h2>
        <p>Thank you for completing our survey, the results will be very useful to us.</p>
        <p>You can now close this window</p>
      </div>
    </section>

    <section class="form-section" id="stage-5" ng-show="ctrl.currentStep == 5">
      <div class="form-row">
        <h2>ooops!</h2>
        <p>Thank you for completing our survey, but unfortunately, an error occurred saving the data.</p>
      </div>
    </section>

    <section class="form-section" id="stage-6" ng-show="ctrl.currentStep == 6">
      <div class="form-row">
        <h2>Ooops!</h2>
        <p>Some inputs were invalid, please got back to the form, and review your input. Any problems will be highlighted in red.</p>
        <button ng-click="ctrl.stepSet(1);">&laquo; Go back</button>
      </div>
    </section>

  </div>

    <!-- build:js(src) scripts/vendor.js -->
    <!-- bower:js -->
    <!-- run `gulp inject` to automatically populate bower script dependencies -->
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js({.tmp/serve,.tmp/partials,src}) scripts/app.js -->
    <!-- inject:js -->
    <!-- js files will be automatically insert here -->
    <!-- endinject -->

    <!-- inject:partials -->
    <!-- angular templates will be automatically converted in js and inserted here -->
    <!-- endinject -->
    <!-- endbuild -->

  <script>
    // Prevent FOUC
    window.addEventListener('DOMContentLoaded', function() {
      document.getElementById('mainContainer').classList.remove('loading');
    });
  </script>

  </body>
</html>
